<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>947597075564-fk9g5nj9kh6o2ovq6bplhgs3e5pdjt03.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.947597075564-fk9g5nj9kh6o2ovq6bplhgs3e5pdjt03</string>
	<key>API_KEY</key>
	<string>AIzaSyBAJ22LdqIrNNhSzVXay-8aCbq6Ho6kcW4</string>
	<key>GCM_SENDER_ID</key>
	<string>947597075564</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cinereview</string>
	<key>PROJECT_ID</key>
	<string>cinereview-2d541</string>
	<key>STORAGE_BUCKET</key>
	<string>cinereview-2d541.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:947597075564:ios:d53402366df752c982e449</string>
</dict>
</plist>